#### What is Python?
- Python is both compiled and interpreted, object-oriented, high-level programming language with dynamics semantics.

#### Creator of Python :-
- Python was developed in 1991 by a Dutch programmer, Guido Van Rossum.
- Guido Van Rossun named Python from the British sketch-comedy series Monty Python's Flying Circus, of which he was a big fan.
- Python 2.0 was released in 2000
- Python 3.0, released in 2008

#### Features of Python :-
- Object Oriented
- Dynamically Typed
- GUI programming Language
- Extensible
- Large Standard Library
- Free and Open Source
- Cross Platform Language
- Interpreted Language
- Expressive Language
- Easy to learn & Use

#### Applications of Python?
- Data Science
- Web Development
- Data Engineering
- Machine Learning
- Artificial Intelligence
- Data Analytics

#### Print Statement :-
- To call a print function in python we just need to write print followed by parentheses () and values written inside quotation marks " " / ' '.
  - input :- print("Hello World")
     - output :- Hello World

In [1]:
print("hello world")

hello world

#### Useing multiple lines in Print statement:-
There are two methods to write a statement in multiple lines:
- To print multiple lines in python, triple quotations are used.
- \n (backslash) is used to insert something in the next line.

In [2]:
print(""" Hello
this is my first python program""")

 Hello
this is my first python program

In [3]:
print("Hello \n this is my first python program")

Hello
 this is my first python program

#### Comments in Python:-
Single Line Comments-
 - To add single line comments, # hash is used.
 - Python completely ignores anything written after #.
 
Multi Line Comments-
  - To add multiline comments in python, triple quotations are used
  - Multi line comments in we used """ """.

#### Variables:-
- Variables are placeholders, which can store a values.
- In simple words, Variable is a container that holds data inside it as a value

In [4]:
a = "hello world"
print(a)

hello world

#### Rules for writing a Variables:-
1. Python is a case-sensitive Language, therefore the variables names are case-sensitive as well.
- Input :- A = "hello"
          - print(a)
- Output :- It will throw an error as the cases used here for variable's name is different.

2. Make sure to not use spaces while creating a variable.
- One can use (_) underscore to seperate the names while writing a variable.
3. A variable name should naver start with a number or special symbols.

### Datatypes and User Input
#### Datatypes :-
- Text-type : String(str)
- Numeric Types : integer(int), floating point(float), complex
- Sequence Types : list, tuple and range
- Mapping Type : Dictionaries(dict)
- Set type : set, frozenset
- Boolean Type : bool
- Binary Types : bytes, bytearray, memoryview

#### User-inputs :-
- To ask for the input from the user. Default datatype is string.
- input:
     - name = input("Enter your name here")
     - print(name)
- output :-
     - Entered name by the user

In [5]:
name = input("Enter your name : ")
print("Your name is", name)

Enter your name : harsh
Your name is harsh

In [6]:
# User - inputs
#input:
age = int(input("Enter your age : "))
print("Your age is", age)

Enter your age : 24
Your age is 24

In [7]:
length = float(input("Enter the length of the rectangle : "))
print(length)

Enter the length of the rectangle : 5
5.0

In [8]:
exp1 = eval(input("Enter any equation here: "))
print(exp1)

Enter any equation here: 5+6
11

### TypeCasting and Subtypes :-
#### Type Casting :
Conversion of one datatype to another is called as type-casting.

There are two types of type-casting:-
1. Implicit Type Conversion : where python itself converts one datatype to another.
2. Ecplicit Type Conversion : where the user converts one datatype to another

In [9]:
name = "harsh"
print(type(name))

age = 24
print(type(age))

<class 'str'>
<class 'int'>

In [10]:
a = 123
b = 1.23
c = a + b
print(c)
print(type(c))

124.23
<class 'float'>

In [11]:
a = 123
b = 1.23
c = a + int(b)
print(c)
print(type(c))

124
<class 'int'>

### Problem Solving
1. Write a program to display a person's name, age, and address in three different lines.
2. Write a program to swap two variables.
3. Write a program to convert a float into integer.
4. Write a program to take details from a student for ID-card and then print it in different lines.
5. Write a program to take an user input as integer then convert to float.

In [12]:
# Question 1
name = ("Harsh Kumar")
age = 24
address = ("Meghaul, Begusarai, Bihar")
print("Your name is: ",name)
print("Your age is: ",age)
print("Your address is: ",address)

Your name is:  Harsh Kumar
Your age is:  24
Your address is:  Meghaul, Begusarai, Bihar

In [13]:
# Question 2
# Method 1
x = 12
y = 15
temp = x
#print(temp)
x = y
print("Value of x is :", x)
y = temp
print("Value of y is :", y)

Value of x is : 15
Value of y is : 12

In [14]:
#Method 2
a = 30
b = 40
#left, right = right, left
a, b = b, a
print("Your a of value is: ",a)
print("Your b of value is: ",b)

Your a of value is:  40
Your b of value is:  30

In [15]:
# Question 3
a = 12.5
print(type(a))
x = int(a)
print(x)
print(type(x))

<class 'float'>
12
<class 'int'>

In [16]:
# Question 4
print("Student Identity Card")
name = input("Enter the of the Student: ")
grade = input("Enter the grade of the Student: ")
age = int(input("Enter your age: "))
email = input("Enter the email of the student: ")
ph_no = int(input("Enter your phone number of the student: "))
print("Student name is          : ",name)
print("Student's grade is       : ",grade)
print("Student's age is         : ",age)
print("Student's email is       : ",email)
print("Student's phone number is: ",ph_no)

Student Identity Card
Enter the of the Student: harsh
Enter the grade of the Student: a+
Enter your age: 24
Enter the email of the student: hk821554hhj
Enter your phone number of the student: 0000000
Student name is          :  harsh
Student's grade is       :  a+
Student's age is         :  24
Student's email is       :  hk821554hhj
Student's phone number is:  0

In [17]:
# Question 5
a = int(input("Enter a number: "))
b = float(a)
print(b)

Enter a number: 00
0.0

### Operators and Operands
* Operators indicates what operation is to be performed while Operands indicates on what the action or the operation should be performed.
x+y = 0
   - In the given expression, x, y, and 0 are Operands and + & = are Operators

#### Types of operators :-
Operators can be further divided into 7 types :-
1. Arithmatic Operators
2. Comparison Operators
3. Logical Operators
4. Assingnment Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators

1. Arithmatic Operator :-
     - (+)  :- Addition
     - (-)  :- Substraction
     - (*)  :- Multiplication
     - (/)  :- Division
     - (//) :- Floor Division
     - (**) :- Exponentiation
     - (%)  :- Modulus

In [18]:
a = 15
b = 10
c = a+b
d = a-b
e = a*b
f = a/b
g = a//b
h = a%b
i = a**b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

25
5
150
1.5
1
5
576650390625

2. Comparison Operator :-
     - ('<')  :- Less Than
     - ('>')  :- Greater Than
     - ('<=') :- Less Than or Equal to
     - ('<=') :- Greater Than or Equal to
     - ('!=') :- Not Equal to
     - ('==') :- Equal to

In [19]:
a = 10
b = 15
c = a>b
d = a<b
e = a<=b
f = a>=b
g = a!=b
h = a==b
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

False
True
True
False
True
False

3. Logical Operator
     - ('and') :- True if both the operands are true, Eg. :- x and y
     - ('or')  :- True if either of the operands is true, Eg. :- x or y
     - ('not') :- True if operand is false (complements the operand), Eg. :- not x

In [20]:
a = 5
b = 10
c = (a > b) and (a < b)
d = (a > b) or (a < b)
e = not(a > b and a > b)
print(c)
print(d)
print(e)

False
True
True

4. Assingnment Operator :-
* Assingnment operators are used in Python to assign values to variables.
* a = 5 is a simple assignment operator that assigns the value 6 on the right to the variable a on the left.
     - ('=')  :- Equal, Eg. :- x = 6, Equivalent to :- x = 6
     - ('+=') :- Plus Equal, Eg. :- x += 6, Equivalent to :- x = x + 6
     - ('-=') :- Minus Equal, Eg. :- x -= 6, Equivalent to :- x = x - 6
     - ('*=') :- Multiple Equal, Eg. :- x *= 6, Equivalent to :- x = x * 6

In [21]:
a = 10
c = a
d += a 
e -= a
f *= a
print(c)
print(d)
print(e)
print(f)

10
11
-9
0

5. Identity Operator :-
* Identity operators are used to compare items to see if they are the same object with the same memory address.
   * Types :-
        * is
        * is not

In [22]:
a = 1234
b = "1234"
print(a is b)
print(a is not b)

False
True

6.Membership Operator :-
* Membership operators are used to check the presence of a sequence in an object.
    - Types :-
         - in
         - not in

In [30]:
a = "hello"
print("p" in a)

False

In [31]:
a = "hello"
print("p" not in a)

True

7. Bitwise Operator :-
These Operators are used to compare the binary numbers.
* Types :-
     1. AND (&) Operator
     2. OR (|) Operator
     3. XOR (^) Operator
     4. (<<) zero fill left shift
     5. (>>) zero fill right shift

1. AND Operator :-
      * Implementation of AND operation on Binary Digits
      Operation	Result
          - Operation   :Results
             - 0 & 0	:  0
             - 1 & 0	:  0
             - 0 & 1   	:  0
             - 1 & 1	:  1

In [24]:
print(bin(15))

0b1111

In [25]:
a = 10
b = 8
print(a & b)

8

2. Bitwise Or Operations
    *  Operation	Result
          - Operation   :Results
             - 0 | 0	:  0
             - 1 | 0	:  1
             - 0 | 1   	:  1
             - 1 | 1	:  1

In [26]:
a = 10
b = 8
print(a | b)

10

3. Bitwise XOR Operations
    *  Operation	Result
          - Operation   :Results
             - 0 ^ 0	:  0
             - 1 ^ 0	:  1
             - 0 ^ 1   	:  1
             - 1 ^ 1	:  0

In [27]:
a = 10
b = 8
print(a ^ b)

2

4. (<<) zero fill left shift

In [28]:
print(10>>1)

5

5. (>>) zero fill right shift

In [29]:
print(10<<1)

20

### Conditional Statements :-
* Conditional statement allows computer to execute a certain condition - only if it is true.
  * Types of conditional Statements :- 
       1. if the Statement
       2. if-else Statement
       3. if-elif-else Statement
       4. Nested Statement
       5. Short Hand if Statement

#### 1. If the statement
* The If statement is the most fundamental decision-making statement.
* The if statement in Python has the subsequent syntax:
     - if expression

In [2]:
marks = 97
if marks >= 90:
    print("You will get a mobile phone")
print("thank you")

You will get a mobile phone
thank you

In [3]:
marks = 87
if marks >= 90:
    print("You will get a mobile phone")
print("thank you")

thank you

#### 2. If-Else Statement
* If-else statement is used when you want to give two conditions to the computer
* Here if one condition is false, program executes the another condition.
     - if condition :
         - Will executes this block if the condition is true
     - else :
         - Will executes this block if the condition is false.

In [4]:
marks = 87
if marks >= 90:
    print("You will get a phone")
else:
    print("No phone")
print("thank you")

No phone
thank you

In [5]:
marks = 97
if marks >= 90:
    print("You will get a phone")
else:
    print("No phone")
print("thank you")

You will get a phone
thank you

#### 3. If-elif-else Statement
* In this case, the if condition is evaluated first. if it is false, the elig statement will be executed, if it also comes false then else statement will be executed.
* For multiple condition, more elif statements are added.
  - if condition:
    - Body of if
  - elif condition:
    - Body of elif
  - else:

In [6]:
marks = 87
if marks >= 90:
    print('You can go to a trip')
elif marks >= 80 and marks < 90:
    print('You will get a phone')
elif marks >= 70 and marks < 80:
    print('You will get a new book')
else:
    print('You will not get your phone back')

You will get a phone

In [7]:
marks = 58
if marks >= 90:
    print('You can go to a trip')
elif marks >= 80 and marks < 90:
    print('You will get a phone')
elif marks >= 70 and marks < 80:
    print('You will get a new book')
else:
    print('You will not get your phone back')

You will not get your phone back

#### 4. Nested if Statement
* A nested if statement is one in which an if statement is nestled inside another If statement. This is used when a variable must be processed more than once. The Nested if statement in Python has the following syntax:
  - if(condition 1):
     - Executes if condition 1 is true
  - if(condition 2):
     - Executes if condition 2 is true
     - Condition 2 ends here
     - condition 1 ends here

In [10]:
marks = 95
if marks >= 80:
    print("You will get a new phone.")
    if marks >= 90:
        print("You can get a trip")
else:
    print("no phone, no trip")

You will get a new phone.
You can get a trip

In [11]:
marks = 55
if marks >= 80:
    print("You will get a new phone.")
    if marks >= 90:
        print("You can get a trip")
else:
    print("no phone, no trip")

no phone, no trip

In [12]:
marks = 85
if marks >= 80:
    print("You will get a new phone.")
    if marks >= 90:
        print("You can get a trip")
else:
    print("no phone, no trip")

You will get a new phone.

#### Short Hand if Statement
* Short Hand if statement is used when only one statement needs to be executed inside the if block. This statement can be mentioned in the same line which holds the if statement.
* The Short Hand if statement in python has the following syntax :-
  - if condition: statement

In [13]:
marks = 97
if marks >= 90: print("You will get a new phone")

You will get a new phone

#### Short hand if-else Statement 
* It is used to mention if-else statements in one line in which there is only one statement to execute in both if and else blocks. In simple words, if you have only one statement to execute, one for if, and one for else, you can put it all on the same line.

In [15]:
marks = 97
print("You will go to a trip") if marks >= 90 else print("No Phone, No Trip")

you will go to a trip

In [16]:
marks = 87
print("You will go to a trip") if marks >= 90 else print("No Phone, No Trip")

No Phone, No Trip

### Problem Solving :-
1. Write a program to check if a number is positive.
2. Write a program to check whether a number is odd or even.
3. Write a program to create area calculator.
4. Write a program check whether the passed letter is a vowel or not.
5. Write a program to check if a number is a single unit number, 2-, digit number and so no.., upto 5 digits.

In [2]:
# 1. Write a program to check if a number is positive.
num = int(input("Enter a number : "))
if num > 0:
    print("It is positive")

Enter a number : 45
It is positive

In [3]:
num = int(input("Enter a number : "))
if num > 0:
    print("It is positive")
else:
    print("It is negative")

Enter a number : -5
It is negative

In [11]:
# 2. Write a program to check whether a number is odd or even.
num = int(input("Enter a number : "))
if num % 2 == 0 :
    print("This number is an even number")
else:
    print("This number is an odd number")

Enter a number : 45
This number is an odd number

In [12]:
num = int(input("Enter a number : "))
if num % 2 == 0 :
    print("This number is an even number")
else:
    print("This number is an odd number")

Enter a number : 44
This number is an even number

In [13]:
#3. Write a program to create area calculator.
print("***** AREA CALCULATOR *****")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle""")

choice = int(input("Enter a number between 1-4: "))

if choice == 1:
    side = float(input("Enter the length of one side: "))
    area = side**2
    print("The area of square is ", area)
    
elif choice == 2:
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the length of the rectangle: "))
    area = length*width
    print("The area of the rectangle is ", area)

elif choice == 3:
    radius = float(input("Enter the radius of the circul: "))
    area = (3.14*(radius**2))
    print("The area of the circle is", area)

elif choice == 4:
    base = float(input("Enter base of the triangle: "))
    height = float(input("Enter height of the triangle: "))
    area = 0.5*base*height
    print("The are of the triangle is ", area)
    
else:
    print("Data not found.")

***** AREA CALCULATOR *****
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle
Enter a number between 1-4: 1
Enter the length of one side: 5
The area of square is  25.0

In [1]:
print("***** AREA CALCULATOR *****")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle""")

choice = int(input("Enter a number between 1-4: "))

if choice == 1:
    side = float(input("Enter the length of one side: "))
    area = side**2
    print("The area of square is ", area)
    
elif choice == 2:
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the length of the rectangle: "))
    area = length*width
    print("The area of the rectangle is ", area)

elif choice == 3:
    radius = float(input("Enter the radius of the circle: "))
    area = (3.14*(radius**2))
    print("The area of the circle is", area)

elif choice == 4:
    base = float(input("Enter base of the triangle: "))
    height = float(input("Enter height of the triangle: "))
    area = 0.5*base*height
    print("The are of the triangle is ", area)
    
else:
    print("Data not found.")

***** AREA CALCULATOR *****
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle
Enter a number between 1-4: 3
Enter the radius of the circle: 5.5
The area of the circle is 94.985

In [2]:
print("***** AREA CALCULATOR *****")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle""")

choice = int(input("Enter a number between 1-4: "))

if choice == 1:
    side = float(input("Enter the length of one side: "))
    area = side**2
    print("The area of square is ", area)
    
elif choice == 2:
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the length of the rectangle: "))
    area = length*width
    print("The area of the rectangle is ", area)

elif choice == 3:
    radius = float(input("Enter the radius of the circle: "))
    area = (3.14*(radius**2))
    print("The area of the circle is", area)

elif choice == 4:
    base = float(input("Enter base of the triangle: "))
    height = float(input("Enter height of the triangle: "))
    area = 0.5*base*height
    print("The are of the triangle is ", area)
    
else:
    print("Data not found.")

***** AREA CALCULATOR *****
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle
Enter a number between 1-4: 4
Enter base of the triangle: 5
Enter height of the triangle: 6
The are of the triangle is  15.0

In [3]:
print("***** AREA CALCULATOR *****")
print("""press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle""")

choice = int(input("Enter a number between 1-4: "))

if choice == 1:
    side = float(input("Enter the length of one side: "))
    area = side**2
    print("The area of square is ", area)
    
elif choice == 2:
    length = float(input("Enter the length of the rectangle: "))
    width = float(input("Enter the length of the rectangle: "))
    area = length*width
    print("The area of the rectangle is ", area)

elif choice == 3:
    radius = float(input("Enter the radius of the circle: "))
    area = (3.14*(radius**2))
    print("The area of the circle is", area)

elif choice == 4:
    base = float(input("Enter base of the triangle: "))
    height = float(input("Enter height of the triangle: "))
    area = 0.5*base*height
    print("The are of the triangle is ", area)
    
else:
    print("Data not found.")

***** AREA CALCULATOR *****
press 1 to get the area of square
press 2 to get the area of rectangle
press 3 to get the area of circle
press 4 to get the area of triangle
Enter a number between 1-4: 5
Data not found.

In [3]:
#4. Write a program check whether the passed letter is a vowel or not.
letter = input("Enter a letter here : ")
if (letter in "aeiou") or (letter in "AEIOU"):
    print("It is a vowel")
    
else:
    print("It is a constant")

Enter a letter here : A
It is a vowel

In [4]:
letter = input("Enter a letter here : ")
if (letter in "aeiou") or (letter in "AEIOU"):
    print("It is a vowel")
    
else:
    print("It is a constant")

Enter a letter here : a
It is a vowel

In [5]:
letter = input("Enter a letter here : ")
if (letter in "aeiou") or (letter in "AEIOU"):
    print("It is a vowel")
    
else:
    print("It is a constant")

Enter a letter here : B
It is a constant

In [6]:
letter = input("Enter a letter here : ")
if (letter in "aeiou") or (letter in "AEIOU"):
    print("It is a vowel")
    
else:
    print("It is a constant")

Enter a letter here : c
It is a constant

In [7]:
#5. Write a program to check if a number is a single unit number, 2-, digit number and so no.., upto 5 digits
num = int(input("Enter a number upto 5 digits : "))
if num >= 0 and num <= 9:
    print("It is a single digit number")

elif num >= 10 and num <= 99:
    print("It is a double digit number")
    
elif num >= 100 and num <= 999:
    print("It is a third digit number")
    
elif num >= 1000 and num <= 9999:
    print("It is a four digit number")
    
elif num >= 10000 and num <= 99999:
    print("It is a five digit number")
    
else:
    print("Number is out of the box")

Enter a number upto 5 digits : 569
It is a third digit number

In [8]:
num = int(input("Enter a number upto 5 digits : "))
if num >= 0 and num <= 9:
    print("It is a single digit number")

elif num >= 10 and num <= 99:
    print("It is a double digit number")
    
elif num >= 100 and num <= 999:
    print("It is a third digit number")
    
elif num >= 1000 and num <= 9999:
    print("It is a four digit number")
    
elif num >= 10000 and num <= 99999:
    print("It is a five digit number")
    
else:
    print("Number is out of the box")

Enter a number upto 5 digits : 333333
Number is out of the box

## Introduction to Loops:-
* A loop means to repeat something in the exact same way.
* Types of loops are:
  1. For Loop
  2. While Loop
  3. While True
  4. Nested Loop

#### 1. For Loop:-
* For loop is a loop that repeats something in a given range.
* The range has a starting point, ending point and a step/gap in it.
* +1 is added to the ending point while defining a range.

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [10]:
for i in range(1,6):
    print("Harsh")

Harsh
Harsh
Harsh
Harsh
Harsh

In [11]:
for i in range(1,6,2):
    print(i)

1
3
5

In [12]:
for i in range(0,6,2):
    print(i)

0
2
4

In [14]:
n = int(input("Enter a number : "))
for i in range(1,11):
    print(n,"*",i,"=", n*i)

Enter a number : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
n = int(input("Enter a number : "))
for i in range(1,11):
    print(n,"*",i,"=", n*i)

Enter a number : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

#### 2. While Loop :-
* While Loop executes till the given condition is true.
* In while Loop, the increment is done inside the loop.

In [1]:
n = 0
while n <=5:
    print(n)
    n += 1

0
1
2
3
4
5

In [1]:
n = 1
a = 9

while n <= 10:
    print(a, "*", n, "=", n*a)
    n += 1

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [3]:
n = 1
a = int(input("Enter a number : "))

while n <= 10:
    print(a, "*", n, "=", n*a)
    n += 1

Enter a number : 199
199 * 1 = 199
199 * 2 = 398
199 * 3 = 597
199 * 4 = 796
199 * 5 = 995
199 * 6 = 1194
199 * 7 = 1393
199 * 8 = 1592
199 * 9 = 1791
199 * 10 = 1990

#### 3. While True
* It is an Infinite Loop.
* To break a while true loop, break statement is used.

In [ ]:
n = 1
while True:
    print(n)
    n+=1

In [4]:
while True:
    num1 = int(input("Enter a number here: "))
    num2 = int(input("Enter another number here: "))
    
    print(num1+num2)
    
    repeat = input("Do you want to stop the program: ")
    if repeat == "yes":
        break

Enter a number here: 45
Enter another number here: 21
66
Do you want to stop the program: no
Enter a number here: 32
Enter another number here: 12
44
Do you want to stop the program: yes

#### 4. Nested Loops:-
* A loop inside a loop is called as nested loop.
* Nested loop are also used to slove pattern problems.

In [13]:
for i in range(1,5):
    for j in range(1, 11):
        print(j, end = " ")
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [15]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#### For Loop with conditional statements:-
* The use of if-else statements increases the ability of for loop to completes the task effectively. By using if-else statements we can provide with special conditions inside for loop.

In [16]:
for i in range(1,11):
    if i == 3:
        print("Add this song to fav")
    else:
        print(i)

1
2
Add this song to fav
4
5
6
7
8
9
10

In [18]:
for i in range(1, 101):
    if i % 8 == 0 and i % 12 == 0:
        print(i)

24
48
72
96

In [19]:
n = 1
while n <= 10:
    if n == 3:
        print("add this to fav")
    else:
        print(n)
    n += 1

1
2
add this to fav
4
5
6
7
8
9
10

### Break and Continue Statements:-

#### Continue Statement:-
* Continue Statement is used when you want to skip a particular condition.

#### Break Statement:-
* Break Statement is used when you want to destroy a loop at a certain condition and come out of the loop.

In [20]:
for i in range (1, 11):
    if i == 7:
        break
    else:
        print(i)

1
2
3
4
5
6

### Problem:-
1. Write a program to find a sum of all the even numbers up to 50.
2. Write a program to write first 20 numbers and their squared numbers.
3. Write a program to find sum of first 10 odd numbers using while loop.
4. Write a program to check if a number is divisible by 8 and 10, 0 to 100 numbers.
5. Write a program to crate a billing system at supermart.

In [21]:
# 1. Write a program to find a sum of all the even numbers up to 50.
for i in range(1, 51):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [6]:
#2. Write a program to write first 20 numbers and their squared numbers.
for i in range(1, 21):
    print("The square of this given number is : ",i**2)
    i+=1

The square of this given number is :  1
The square of this given number is :  4
The square of this given number is :  9
The square of this given number is :  16
The square of this given number is :  25
The square of this given number is :  36
The square of this given number is :  49
The square of this given number is :  64
The square of this given number is :  81
The square of this given number is :  100
The square of this given number is :  121
The square of this given number is :  144
The square of this given number is :  169
The square of this given number is :  196
The square of this given number is :  225
The square of this given number is :  256
The square of this given number is :  289
The square of this given number is :  324
The square of this given number is :  361
The square of this given number is :  400

In [1]:
#3. Write a program to find sum of first 10 odd numbers using while loop.
sum = 0
n = 0
while n <= 20:
    if n % 2 != 0:
        sum += n
    n += 1
print("The sum of first 10 odd number is",sum)

The sum of first 10 odd number is 100

In [7]:
# 4. Write a program to check if a number is divisible by 8 and 10, 0 to 100 numbers.
for i in range(1, 101):
    if i % 8 == 0 and i % 10 == 0:
        print(i)

40
80

In [8]:
# Write a program to check if a number is divisible by 8 and 12, 0 to 100 numbers.
for i in range(1, 101):
    if i % 8 == 0 and i % 12 == 0:
        print(i)

24
48
72
96

In [1]:
# 5. Write a program to crate a billing system at supermart.
while True:
    name = input("Enter customer's name: ")
    total = 0
    
    while True:
        print("Enter the amount and quantity: ")
        amount = float(input("Enter amount: "))
        quantity = float(input("Enter quantity: "))
        total += amount * quantity
        repeat = input("Do you want to add more items? (yes / no): ")
        if repeat == "no" or repeat == "No":
            break
    print("-"*40)
    print("Name: ", name)
    print("Amount to be paid: ", total)
    print("-"*40)
    print("**********Happy Shopping**********")
    
    repeat1 = input("Do you want to go to next customer? (yes / no): ")
    if repeat == "no" or repeat == "No":
        break

Enter customer's name: Harsh
Enter the amount and quantity:
Enter amount: 100
Enter quantity: 3
Do you want to add more items? (yes / no): yes
Enter the amount and quantity:
Enter amount: 50
Enter quantity: 3
Do you want to add more items? (yes / no): No
----------------------------------------
Name:  Harsh
Amount to be paid:  450.0
----------------------------------------
**********Happy Shopping**********
Do you want to go to next customer? (yes / no): no

### Problems:-
* A = "Why fit in, When you are Born to stand out!"
1. Write a program to find the length of the following string.
2. Write a program to check how many time alphabet o is occuring.
3. Write a program to convert the whole string into lower and upper cases.
4. Write a program to convert the following string into a title.
5. Write a program to find the index number of "fit in".

In [2]:
# 1. Write a program to find the length of the following string.
A = "Why fit in, When you are Born to stand out!"
print(len(A))

43

In [5]:
#2. Write a program to check how many time alphabet o is occuring.
A = "Why fit in, When you are Born to stand out!"
print(A.count("o"))

4

In [7]:
#3. Write a program to convert the whole string into lower and upper cases.
A = "Why fit in, When you are Born to stand out!"
print(A.upper())
print(A.lower())

WHY FIT IN, WHEN YOU ARE BORN TO STAND OUT!
why fit in, when you are born to stand out!

In [8]:
# 4. Write a program to convert the following string into a title.
A = "Why fit in, When you are Born to stand out!"
z = A.title()
print(z)

Why Fit In, When You Are Born To Stand Out!

In [9]:
# 5. Write a program to find the index number of "fit in".
A = "Why fit in, When you are Born to stand out!"
print(A.find("fit in"))

4

Problems:-
* 1
* 12
* 123
* 1234
* 12345
  - Write a program to display this pattern.

In [10]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
for i in range(1, 6):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

Problem:-
* Write a program to display this pattern.
    1. 1
    2. 22
    3. 333
    4. 4444
    5. 55555

In [14]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Problems:-
* Write a program to display this pattern.
  1. 11111
  2. 2222
  3. 333
  4. 44
  5. 5

In [18]:
for i in range(1, 6):
    for j in range(6, i,-1):
        print(i, end = " ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [20]:
#Problem:-
# Write a program to display this pattern.
#  1. *
#  2. **
#  3. ***
#  4. ****
#  5. *****

for i in range(1, 6):
    for j in range(5, i, -1):
        print(" ", end = " ")
    for k in range(i):
        print("*", end = " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

Problems:-
* Write a program to display this pattern.
  1. 1
  2. 21
  3. 321
  4. 4321
  5. 54321

In [21]:
for i in range(1,6):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

Problems:-
* Write a program to display this pattern.
  1. 1
  2. 12
  3. 123
  4. 1234
  5. 12345
  6. 1234
  7. 123
  8. 12
  9. 1

In [30]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end = " ")
    print()
for i in range(5, 0, -1):
    for k in range(0, i-1):
        print(k, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
0 1 2 3
0 1 2
0 1
0

In [29]:
for i in range(1, 6):
    for j in range(1, i+1):
        print("*", end = " ")
    print()
for i in range(5, 0, -1):
    for k in range(0, i-1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Problem :-
* Write a program to display the following pattern.
  1. 1
  2. 2, 4
  3. 3, 6, 9
  4. 4, 8, 12, 16
  5. 5, 10, 15, 20, 25
  6. 6, 12, 18, 24, 30, 36
  7. 7, 14, 21, 28, 35, 42, 49
  8. 8, 16, 24, 32, 40, 48, 56, 64

In [2]:
for i in range(1, 11):
    for j in range(1, i+1):
        print(i*j, end = " ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

### String Manipulation :-
* String are the combination of number, symbols and letters, enclosed inside quotations.

* Creation of a String : Strings can be created by enclosing numbers, letters or special symbols inside double quotations.
  - It means assigning a string value to a variables.
  - a = ("hello world")
  - print(a)

In [3]:
a = "Hello World"
print(type(a))
print(a)

<class 'str'>
Hello World

#### String Method :-
1. Length
2. Count
3. Upper
4. Lower
5. Index
6. Capitalize
7. Casefold
8. Find
9. Format
10. Center
11. isalnum :- Returns true if all characters in the string are alphanumeric
12. isalpha :- Returns true if all characters in the string are in the alphabet
13. isdecimal :- Returns true if all characters in the string are decimal
14. isdigit :- Returns true if all characters in the string are digits
15. isnumeric :- Returns true if all characters in the string are numeric
16. islower :- Converts a string into lower case
17. isupper :- Converts a string into upper case
18. isspace :- Returns true if all characters in the string are whitespaces
19. istitle :- Returns true if the string follows the rules of a title

In [10]:
a = "Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements."
print(a)

Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements.

In [4]:
a = ("Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements.")
print(len(a))

286

In [12]:
a = ("Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements.")
print(a.count("e"))

25

In [8]:
a = ("Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements.")
print(a.upper())

SENSEX IS AN INDICATOR OF THE MARKET SENTIMENT OR OF THE ECONOMY OF THE COUNTRY. THINK OF THIS INDICATOR AS A MUTUAL FUND WHICH AS A POOL OF 30 COMPANIES WITH VARYING WEIGHTAGES. THE PRICES OF THESE COMPANIES ARE CONSTANTLY FLUCTUATING, THUS DIRECTLY CAUSING THE SENSEX PRICE MOVEMENTS.

In [9]:
a = ("Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements.")
print(a.lower())

sensex is an indicator of the market sentiment or of the economy of the country. think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. the prices of these companies are constantly fluctuating, thus directly causing the sensex price movements.

In [17]:
a = "Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements."
print(a.index("a",10, 105))

10

In [18]:
a = "Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements."
print(a.capitalize())

Sensex is an indicator of the market sentiment or of the economy of the country. think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. the prices of these companies are constantly fluctuating, thus directly causing the sensex price movements.

In [20]:
a = "Sensex is an indicator of the market sentiment or of the economy of the country. Think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. The prices of these companies are constantly fluctuating, thus directly causing the Sensex price movements."
print(a.find("of"))

23

In [25]:
name ="Harsh"
age = 24
b = "my name is {}. and my age is {}"
print(b.format(name, age))

my name is Harsh. and my age is 24

In [27]:
print(name.center(20, "*"))

*******Harsh********

11. isalnum :- Returns true if all characters in the string are alphanumeric
12. isalpha :- Returns true if all characters in the string are in the alphabet
13. isdecimal :- Returns true if all characters in the string are decimal
14. isdigit :- Returns true if all characters in the string are digits
15. isnumeric :- Returns true if all characters in the string are numeric
16. islower :- Converts a string into lower case
17. isupper :- Converts a string into upper case
18. isspace :- Returns true if all characters in the string are whitespaces
19. istitle :- Returns true if the string follows the rules of a title

In [30]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())
print(e.isalnum())
print(f.isalnum())
print(g.isalnum())

True
True
True
True
False
False
False

In [31]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())
print(d.isalpha())
print(e.isalpha())
print(f.isalpha())
print(g.isalpha())

True
False
False
True
False
False
False

In [32]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())
print(d.isdecimal())
print(e.isdecimal())
print(f.isdecimal())
print(g.isdecimal())

False
False
True
False
False
False
False

In [34]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isdigit())
print(b.isdigit())
print(c.isdigit())
print(d.isdigit())
print(e.isdigit())
print(f.isdigit())
print(g.isdigit())

False
False
True
False
False
False
False

In [35]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())
print(f.isnumeric())
print(g.isnumeric())

False
False
True
False
False
False
False

In [36]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.islower())
print(b.islower())
print(c.islower())
print(d.islower())
print(e.islower())
print(f.islower())
print(g.islower())

True
False
False
False
False
False
False

In [37]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.islower())
print(b.islower())
print(c.islower())
print(d.islower())
print(e.islower())
print(f.islower())
print(g.islower())

True
False
False
False
False
False
False

In [39]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.isspace())
print(b.isspace())
print(c.isspace())
print(d.isspace())
print(e.isspace())
print(f.isspace())
print(g.isspace())

False
False
False
False
True
False
False

In [41]:
a = "hello"
b = "123Hello"
c = "12345"
d = "HELLO"
e = " "
f = "Hello 123@"
g = "1.234"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())
print(e.istitle())
print(f.istitle())
print(g.istitle())

False
True
False
False
False
True
False

20. endswith() :- Returns true if the string ends with the specified value
21. startswith() :- Returns true if the string starts with the specified value
22. swapcase() :- Swap cases, lower case becomes upper case and vice versa
23. strip() :- Returns a trimmed version of the string
24. split() :- Splits the string at the specified seperator, and returns a list
25. ljust() :- Returns a left justified version of the string
26. rjust() :- Returns a right justified version of the string
27. replace() :- Returns a string where a specified value is replaced with a specified value
28. rindex() :- Searches the string for a specified value and returns the last position of where it was found
29. rfind() :- Searches the string for a specified value and returns the last position of where it was found

In [45]:
a = "Harry Potter"
print(a.endswith("r"))
print(a.endswith("P"))
print(a.endswith("t", 6, 9))

True
False
True

In [48]:
a = "Harry Potter"
print(a.startswith("H"))
print(a.startswith("P"))
print(a.startswith("P", 6, 9))

True
False
True

In [49]:
a = "Harry Potter"
print(a.swapcase())

hARRY pOTTER

In [55]:
a = "     ****Harry Potter**** .....     "
print(a)
print(a.strip(".,*, "))

     ****Harry Potter**** .....
Harry Potter

In [57]:
a = "OOFD#BRB#OMW#TB"
print(a.split("#"))

['OOFD', 'BRB', 'OMW', 'TB']

In [63]:
a = "Harry Potter"
x = a.ljust(50,"-")
print(x, "is my favorite movie")

Harry Potter-------------------------------------- is my favorite movie

In [64]:
a = "Harry Potter"
x = a.rjust(50,"-")
print(x, "is my favorite movie")

--------------------------------------Harry Potter is my favorite movie

In [65]:
a = "My name is John"
print(a)
print(a.replace("John", "Harsh"))

My name is John
My name is Harsh

In [66]:
a = "Harsh is a good boy"
print(a.rindex("is"))

6

In [72]:
a = "Harsh is a very good boy"
print(a.rfind("very"))

11

#### Slicing in Strings :-

In [73]:
a = "Harry Potter is a good movie"
print(a[0:6])

Harry

In [74]:
b = "0123456789"
print(b[::-1])

9876543210

#### Problems :-
1. Write a program to get fibonacci series up to 10 numbers.
2. Write a program to check if a numbr is prime or not.
3. Write a program to find a palindrome of integers.
4. Write a program to create an area calculator.

In [77]:
# 1. Write a program to get fibonacci series up to 10 numbers.
a = 0
b = 1
n = int(input("Enter a number :"))
if n == 1:
    print(1)
else:
    print(a)
    print(b)

    for i in range(2, n):
        c = a+b
        a = b
        b = c
        print(c)

Enter a number :15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [83]:
# 2. Write a program to check if a numbr is prime or not.
num = int(input("Enter a number here: "))
if num <= 1:
    print("It is not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Number is not a prime number")
            break
    else:
        print("It is a prime number")

Enter a number here: 12
Number is not a prime number

In [82]:
num = int(input("Enter a number here: "))
if num <= 1:
    print("It is not a prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Number is not a prime number")
            break
    else:
        print("It is a prime number")

Enter a number here: 13
It is a prime number

In [84]:
# 3. Write a program to find a palindrome of integers.
num = int(input("Enter a number here: "))
temp = num
rev = 0
while num > 0:
    dig = num%10
    rev = rev*10 + dig
    num =num // 10
    
if rev == temp:
    print("It is palindrome")
else:
    print("it is no palindrome")

Enter a number here: 131
It is palindrome

In [1]:
# 4. Write a program to create an area calculator.
print("***** AREA CALCULATOR *****")
while True:
    print("""press 1 to get the area of square
    press 2 to get the area of rectangle
    press 3 to get the area of circle
    press 4 to get the area of triangle""")

    choice = int(input("Enter a number between 1-4: "))

    if choice == 1:
        while True:
            side = float(input("Enter the length of one side: "))
            area = side**2
            print("The area of square is ", area)
            repeat = input("Do you want to try again with square? ")
            if repeat == "No":
                break
    
    elif choice == 2:
        while True:
            length = float(input("Enter the length of the rectangle: "))
            width = float(input("Enter the length of the rectangle: "))
            area = length*width
            print("The area of the rectangle is ", area)
            repeat = input("Do you want to continue with this program? ")
            if repeat == "No":
                break

    elif choice == 3:
        while True:
            radius = float(input("Enter the radius of the circle: "))
            area = (3.14*(radius**2))
            print("The area of the circle is", area)
            repeat = input("Do you want to continue with this program? ")
            if repeat == "No":
                break

    elif choice == 4:
         while True:
            base = float(input("Enter base of the triangle: "))
            height = float(input("Enter height of the triangle: "))
            area = 0.5*base*height
            print("The are of the triangle is ", area)
            repeat = input("Do you want to repeat this code? ")
            if repeat == "No":
                break
                
    repeat1 = input("do you want to repeat the menu again? ")
    if repeat1 == "No":
        break
    
else:
    print("Data not found.")

***** AREA CALCULATOR *****
press 1 to get the area of square
    press 2 to get the area of rectangle
    press 3 to get the area of circle
    press 4 to get the area of triangle
Enter a number between 1-4: 1
Enter the length of one side: 1
The area of square is  1.0
Do you want to try again with square? no
Enter the length of one side: 5
The area of square is  25.0
Do you want to try again with square? No
do you want to repeat the menu again? No

#### Problems :-
A = "OOTD.YOLO.ASAP.BRB.GTG.OTW"
1. Write a program to seperate the following string into coma(,) seperated values.
2. Write a program to sort strings alphabetically in python.
3. Write a program to remove a given character from a string. 
4. Write a program to remove dot(.) from the following string. Z = "F.R.I.E.N.D.S."
5. Write a program to check the number of occurance of string

In [2]:
# 1. Write a program to seperate the following string into coma(,) seperated values.
a = "OOTD.YOLO.ASAP.BRB.GTG.OTW"
b = a.split(".")
print(b)

['OOTD', 'YOLO', 'ASAP', 'BRB', 'GTG', 'OTW']

In [3]:
# 2. Write a program to sort strings alphabetically in python.
a = input("Enter anything here: ")
b = sorted(a)
print(b)

Enter anything here: hello
['e', 'h', 'l', 'l', 'o']

In [4]:
# 3. Write a program to remove a given character from a string. 
a = "hello"
b = a.replace("e","")
print(b)

hllo

In [6]:
# 4. Write a program to remove dot(.) from the following string. Z = "F.R.I.E.N.D.S."
Z = "F.R.I.E.N.D.S."
b = Z.replace(".","")
print(b)

FRIENDS

In [7]:
# 5. Write a program to check the number of occurance of a substring in a string
a = "Sensex is an indicator of the market sentiment or of the economy of the country. think of this indicator as a mutual fund which as a pool of 30 companies with varying weightages. the prices of these companies are constantly fluctuating, thus directly causing the sensex price movements."
b = a.count("se")
print(b)

5

#### Problems :-
1. Take an input from a user as a string then, reverse it.
2. Write a program to check if a string contains only digits.
3. Write a program to check if a string is palindrome.
4. Write a program to find number of vowels in a string.
5. Write a program to check if every word in a string begins with a capital letter.

In [10]:
# 1. Take an input from a user as a string then, reverse it.
a = input("Enter anything: ")
print(a[::-1])

Enter anything: happy birthday
yadhtrib yppah

In [11]:
# 2. Write a program to check if a string contains only digits.
a = input("Enter anything: ")
print(a.isdigit())

Enter anything: harsh123
False

In [1]:
a = input("Enter anything: ")
b = (a.isdigit())
if b == True:
    print("It contains only digits")
else:
    print("It doesn't contain only digits")

Enter anything: 15
It contains only digits

In [12]:
a = input("Enter anything: ")
print(a.isdigit())

Enter anything: 12345
True

In [2]:
# 3. Write a program to check if a string is palindrome.
a = input("Enter Anything Here: ")
rev = a[::-1]
if a == rev:
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter Anything Here: mam
It is palindrome

In [3]:
a = input("Enter Anything Here: ")
rev = a[::-1]
if a == rev:
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter Anything Here: harsh
It is not palindrome

In [6]:
# 4. Write a program to find number of vowels in a string.
a = input("Enter anything: ")
vowels = 0
for i in a:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        vowels += 1
    
print("The number of vowels in the following string is: ",vowels)

Enter anything: hello
The number of vowels in the following string is:  2

In [7]:
a = input("Enter anything: ")
vowels = 0
for i in a:
    if i == "a" or i == "e" or i == "i" or i == "o" or i == "u" or i == "A" or i == "E" or i == "I" or i == "O" or i == "U":
        vowels += 1
    
print("The number of vowels in the following string is: ",vowels)

Enter anything: HELLO HARSH
The number of vowels in the following string is:  3

In [8]:
# 5. Write a program to check if every word in a string begins with a capital letter.
a = input("Enter anything here: ")
print(a.istitle())

Enter anything here: Harsh
True

In [9]:
a = input("Enter anything here: ")
print(a.istitle())

Enter anything here: Happy journey
False

## Introduction of Lists

#### Lists:-
* Lists are the collection of ordered and mutable data.
  1. Lists are written inside the squared brackets [].
  2. The value inside a list is seperated by coma (,).
  3. Mutable means once created, they can be changed.
  4. Multiple datatypes can be written inside a list.

In [11]:
fruits = ["Apple","Banana","Mango",12,14,50,52.62]
print(type(fruits))
print(fruits)

<class 'list'>
['Apple', 'Banana', 'Mango', 12, 14, 50, 52.62]

#### Slicing Lists :-

In [12]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a[1])

Thor

In [13]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a[1:3])

['Thor', 'Captain America']

In [14]:
print(a[1:])

['Thor', 'Captain America', 'Hulk']

In [15]:
print(a[::-1])

['Hulk', 'Captain America', 'Thor', 'Ironman']

#### List Iteration :-

In [24]:
# Iteration using for loop
a = ["Ironman", "Thor", "Captain America", "Hulk"]
for i in a:
    print(i)
    
print("*"*25)

# Iteration using for loop with range and length function
for i in range(len(a)):
    print(i)
    
print("*"*25)

# Iteration using for loop with range and length function
for i in range(len(a)):
    print(a[i])
    
print("*"*25)

# Iteration using while loop
i = 0
while i < (len(a)):
    print(a[i])
    i+= 1
    
print("*"*25)

# Using Short-hand for loop
a = ["Ironman", "Thor", "Captain America", "Hulk"]
[print(i) for i in a]

Ironman
Thor
Captain America
Hulk
*************************
0
1
2
3
*************************
Ironman
Thor
Captain America
Hulk
*************************
Ironman
Thor
Captain America
Hulk
*************************
Ironman
Thor
Captain America
Hulk

[None, None, None, None]

#### List Functions :-

In [33]:
a = ["Ironman", "Thor", "Captain America", "Hulk", "Thor"]
print(a)

# to find the length of a list
print(len(a))

# to count an occurance of a particular element
print(a.count("Thor"))

# to add to the list
a.append("Jhon")
print(a)

# to add to a specific location
a.insert(1,"Vision")
print(a)

# to remove from a list
a.remove("Hulk")
print(a)

# to remove from a certain location
print(a.pop(1))
print(a)

['Ironman', 'Thor', 'Captain America', 'Hulk', 'Thor']
5
2
['Ironman', 'Thor', 'Captain America', 'Hulk', 'Thor', 'Jhon']
['Ironman', 'Vision', 'Thor', 'Captain America', 'Hulk', 'Thor', 'Jhon']
['Ironman', 'Vision', 'Thor', 'Captain America', 'Thor', 'Jhon']
Vision
['Ironman', 'Thor', 'Captain America', 'Thor', 'Jhon']

In [3]:
a = ["Ironman", "Thor", "Captain America", "Hulk"]
print(a)

# to create a copy of a list
b = []
print(b)
b = a.copy()
print(b)
print("*"*50)

# to access an element
print(a.index("Thor"))
print("-"*50)

# to entend the list
c = ["vision","spiderman"]
a.extend(c)
print(a)
print("+"*50)
# to reverse the list
a.reverse()
print(a)
print("*"*50)

# to sort the list
a.sort()
print(a)
print("-"*50)

# to clear all the data from the list
a.clear()
print(a)

['Ironman', 'Thor', 'Captain America', 'Hulk']
[]
['Ironman', 'Thor', 'Captain America', 'Hulk']
**************************************************
1
--------------------------------------------------
['Ironman', 'Thor', 'Captain America', 'Hulk', 'vision', 'spiderman']
++++++++++++++++++++++++++++++++++++++++++++++++++
['spiderman', 'vision', 'Hulk', 'Captain America', 'Thor', 'Ironman']
**************************************************
['Captain America', 'Hulk', 'Ironman', 'Thor', 'spiderman', 'vision']
--------------------------------------------------
[]

#### List Comprehension :-

In [8]:
l1 = [30, 40, 50, 60]
l2 = []
for i in l1:
    l2.append(i)
    
print(l1, "\n", l2)

if i > 45:
    print(i)
    

l3 = [i for i in l1 if i > 45]
print(l3)

[30, 40, 50, 60]
 [30, 40, 50, 60]
60
[50, 60]

#### Problem Solving :-
A = ["Ross","Rachel","Monica","Joe","Harsh"]
1. Write a program to swap first and forth element.
2. Write a program to add a new value at second position.
3. Write a program to delete a value from 3rd position.

B = [13, 7, 12, 10]
1. Write a program to multiply all the number in the list.
2. Write a program to get the largest number from the list.
3. Write a program to get the smallest number from the list.

In [3]:
#1. Write a program to swap first and forth element.
A = ["Ross","Rachel","Monica","Joe","Harsh"]
A[0],A[3] = A[3], A[0]
print(A)

['Joe', 'Rachel', 'Monica', 'Ross', 'Harsh']

In [6]:
# 2. Write a program to add a new value at second position.
A.insert(1,"Happy")
print(A)

['Ross', 'Happy', 'Rachel', 'Monica', 'Joe', 'Harsh']

In [7]:
# 3. Write a program to delete a value from 3rd position.
A.pop(2)
print(A)

['Ross', 'Happy', 'Monica', 'Joe', 'Harsh']

In [9]:
#1. Write a program to multiply all the number in the list.
B = [13, 7, 12, 10]
mul = 1
for i in (B):
    mul *= i
    
print(mul)

10920

In [14]:
# 2. Write a program to get the largest number from the list.
a = [13, 7, 12, 10]
a.sort()
print(a)
print("The largest value in the given list is: ",a[-1])

[7, 10, 12, 13]
The largest value in the given list is:  13

In [15]:
# 3. Write a program to get the smallest number from the list.
print("The smallest value in the given list is: ",a[1])

The smallest value in the given list is:  10

## Introduction of Tuples:-

### Tuples :-
* Tuples are the collection of ordered and un-mutable data.
  1. For Tuples no brackets are mandatory. By choice one can use parentheses.
  2. The value inside a Tuple is seperated by coma(,).
  3. Once created, tuples can't be changed.
  4. Multiple datatype can be written inside a tuples.

In [24]:
a = ("Apple","Mango","Banana")
print(type(a))
print(a)

<class 'tuple'>
('Apple', 'Mango', 'Banana')

In [25]:
b = "Harsh"
print(type(b))

<class 'str'>

In [26]:
b = "Harsh",
print(type(b))

<class 'tuple'>

#### Slicing and Iteration in Tuples :-

In [33]:
a = ("Apple","Oneplus","Vivo","Samsung","Nokia","Redmi")
print(a[1:3])
print(a[:3])
print(a[::2])
print(a[::-1])
print(a[3::-1])
print(a)

('Oneplus', 'Vivo')
('Apple', 'Oneplus', 'Vivo')
('Apple', 'Vivo', 'Nokia')
('Redmi', 'Nokia', 'Samsung', 'Vivo', 'Oneplus', 'Apple')
('Samsung', 'Vivo', 'Oneplus', 'Apple')
('Apple', 'Oneplus', 'Vivo', 'Samsung', 'Nokia', 'Redmi')

In [1]:
a = ("Apple","Oneplus","Vivo","Samsung","Nokia","Redmi")
print(a)
# with for loop
print("*"*50)

for i in a:
    print(i)
    
print("*"*50)

#along with range and length in for loop
for i in range(len(a)):
    print(a[i])
    
print("*"*50)
# along with while loop
i = 0
while i < len(a):
    print(a[i])
    i += 1

('Apple', 'Oneplus', 'Vivo', 'Samsung', 'Nokia', 'Redmi')
**************************************************
Apple
Oneplus
Vivo
Samsung
Nokia
Redmi
**************************************************
Apple
Oneplus
Vivo
Samsung
Nokia
Redmi
**************************************************
Apple
Oneplus
Vivo
Samsung
Nokia
Redmi

#### Conversion of Tuples and Tuple Functions:-

In [9]:
a = ("Apple","Oneplus","Vivo","Samsung","Nokia","Redmi")
print("before conversion", type(a))

a = list(a)
print("After conversion",type(a))
a.append("Lava")
print(a)

a = tuple(a)
print(type(a))
print(a)

print("Count of Lava is ",a.count("Lava"))
print("The index of Vivo is ",a.index("Vivo"))

before conversion <class 'tuple'>
After conversion <class 'list'>
['Apple', 'Oneplus', 'Vivo', 'Samsung', 'Nokia', 'Redmi', 'Lava']
<class 'tuple'>
('Apple', 'Oneplus', 'Vivo', 'Samsung', 'Nokia', 'Redmi', 'Lava')
Count of Lava is  1
The index of Vivo is  2

### Problem Solving :-
1. Convert the following dictionary into JSON format.
    * Student_data = {"name":"David","age":13,"marks":87}
2. Access the value of age from the given data.
    * Student_data = {"name":"David","age":13,"marks":87}
3. Pretty Print following JSON data.
    * Student_data = {"name":"David","age":13,"marks":87}
4. Sort the following JSON keys and write them into a file.
    * Student_data = {"name":"David","age":13,"marks":87}

In [2]:
# 1. Convert the following dictionary into JSON format.
import json
Student_data = {"name":"David","age":13,"marks":87}
print(type(Student_data))
data = json.dumps(Student_data)
print(data)
print(type(data))

<class 'dict'>
{"name": "David", "age": 13, "marks": 87}
<class 'str'>

In [8]:
# 2. Access the value of age from the given data.
Student_data = """{"name":"David","age":13,"marks":87}"""
data = json.loads(Student_data)
print(data["age"])

13

In [9]:
#3. Pretty Print following JSON data.
import json

Student_data = {"name": "David", "age": 13, "marks": 87}
data = json.dumps(Student_data, indent=4, separators=(",", ":"))
print(data)

{
    "name":"David",
    "age":13,
    "marks":87
}

## Dictionary :-
Dictionary allows user to write the data in the form of keys and values.
* Dictionaries are enclosed inside curly brackets {}.
* Keys and values are seperated by colon.
* Every key value pair is seperated by a coma(,).

In [10]:
emp = {"name":"John","age":25, "gender":"male"}
print(emp)
print(emp["age"])

{'name': 'John', 'age': 25, 'gender': 'male'}
25

#### Iteration of Dictionary :-

In [11]:
emp = {"name":"John","age":25, "gender":"male"}

# Printing all the key names one by one
for x in emp:
    print(x)

# Printing all the value names one by one 
for x in emp:
    print(emp[x])
    
# using value function
for x in emp.values():
    print(x)
    
#using items function
for x, y in emp.items():
    print(x, y)

name
age
gender
John
25
male
John
25
male
name John
age 25
gender male

#### Dictionary Function:-
1. get
2. item
3. keys
4. values
5. copy
6. setdefault
7. update
8. pop
9. popitem
10. clear

In [23]:
emp = {"name": "David", "age": 13, "marks": 87}

#get function
x = emp.get("name")
print(x)

#item funciton
a = emp.items()
print(a)

#keys function
b = emp.keys()
print(b)

# values function
c = emp.values()
print(c)

# copy function
d = emp.copy()
print(d)

David
dict_items([('name', 'David'), ('age', 13), ('marks', 87)])
dict_keys(['name', 'age', 'marks'])
dict_values(['David', 13, 87])
{'name': 'David', 'age': 13, 'marks': 87}

In [30]:
Student_data = {"name": "David", "age": 13, "marks": 87}
#6. setdefault
x = Student_data.setdefault("marks:",95)
print(x)

#7. update
print(Student_data)

#8. pop
c = Student_data.pop("age")
print(c)

#9. popitem


#10. clear

95
{'name': 'David', 'age': 13, 'marks': 87, 'marks:': 95}
13

#### Nested Dictionary

In [34]:
emp = {1:{"Name":"John","Age":25,"Gender":"male"},
      2:{"Name":"Lisa","Age":26,"Gender":"female"},
      3:{"Name": "Peter","Age":31,"Gender":"male"}}
print(emp)
print(emp[2]["Age"])
print(emp[1])

{1: {'Name': 'John', 'Age': 25, 'Gender': 'male'}, 2: {'Name': 'Lisa', 'Age': 26, 'Gender': 'female'}, 3: {'Name': 'Peter', 'Age': 31, 'Gender': 'male'}}
26
{'Name': 'John', 'Age': 25, 'Gender': 'male'}

### Problem Solving :-
1. Write a python program to sort a dictionary by value.
2. Write a python script to print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys.
3. Write a program to multiply all the items in a dictionary.
4. Write a python program to sort a dictionary by key.

In [2]:
# 1. Write a python program to sort a dictionary by value.
a = {"a":12, "b":23, "c":6,"d":91,"e":45,"f":-5}
a = sorted(a.values())
print(a)

[-5, 6, 12, 23, 45, 91]

In [4]:
# 2. Write a python script to print a dictionary where the keys are numbers between 1 and 15 and the values are square of keys.
a = {}
for i in range(1, 16):
    a[i] = i**2
print(a)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [7]:
# 3. Write a program to multiply all the items in a dictionary.
a = {"a":1, "b":2, "c":5, "d":9,"e":4,"f":5}
print(a["c"])
product = 1
for i in a:
    product *= a[i]

5

In [8]:
# 4. Write a python program to sort a dictionary by key.
a = {12:"a",56:"b",23:"c",48:"d",91:"e"}
a = sorted(a.keys())
print(a)

[12, 23, 48, 56, 91]

### Introduction to SETS :-

#### Sets :-
Sets are unordered collection of data. Every element inside the set is unique and mutable.
* Sets are writted inside the curly brackets.
* The value inside a set is seperated by coma (,).
* Mutable means once created, they can be changed.

In [17]:
a = {"Ironman", "Hulk", "Thor", "Captain America"}
print(type(a))
print(a)
print("*"*50)
for x in a:
    print(x)

<class 'set'>
{'Hulk', 'Captain America', 'Ironman', 'Thor'}
**************************************************
Hulk
Captain America
Ironman
Thor

#### Set Functions :-
1. add        
2. pop
3. remove
4. discard
5. copy
6. isdisjoint
7. issubset
8. issuperset
9. update
10. Clear
11. Union
12. Difference
13. Difference update
14. Intersection
15. Intersection update
16. Symmetric Difference
17. Symmetric Difference Update

In [51]:
#1. add
a  = {"Ironman", "Hulk", "Thor", "Captain America"}
a.add("Spiderman")
print("ADD: ",a)
print("*"*50)

#2. pop
a.pop()
print("POP: :",a)
print("*"*50)

#3. remove
a.remove("Thor")
print("REMOVE: ",a)
print("*"*50)

#4. discard
a.discard("Hulk")
print("DISCARD: ",a)
print("*"*50)

#5. copy
b = a.copy()
print("COPY :",b)

ADD:  {'Hulk', 'Captain America', 'Thor', 'Ironman', 'Spiderman'}
**************************************************
POP: : {'Captain America', 'Thor', 'Ironman', 'Spiderman'}
**************************************************
REMOVE:  {'Captain America', 'Ironman', 'Spiderman'}
**************************************************
DISCARD:  {'Captain America', 'Ironman', 'Spiderman'}
**************************************************
COPY : {'Captain America', 'Ironman', 'Spiderman'}

In [59]:
a = {"Ironman", "Hulk", "Thor", "Captain America"}
b = {"Superman", "Batman", "Wonder-Woman"}
c = {"Hulk", "Thor", "Spiderman"}
print(a)
print(b)
print(c)
print("*"*50)

# 6. isdisjoint
print("ISDISJOINT: ",a.isdisjoint(b))
print("ISDISJOINT: ",a.isdisjoint(c))
print("*"*50)

#7. issubset
print("ISSUBSET: ",a.issubset(b))
print("ISSUBSET: ",c.issubset(a))
print("*"*50)

#8. issuperset
print("ISSUPERSET: ",b.issuperset(a))
print("ISSUPERSET: ",a.issuperset(c))
print("*"*50)

#9. update
a.update(c)
print("UPDATE: ",a)
print("*"*50)

#10. Clear
a.clear()
print("CLEAR: ", a)

{'Hulk', 'Captain America', 'Ironman', 'Thor'}
{'Superman', 'Batman', 'Wonder-Woman'}
{'Hulk', 'Spiderman', 'Thor'}
**************************************************
ISDISJOINT:  True
ISDISJOINT:  False
**************************************************
ISSUBSET:  False
ISSUBSET:  False
**************************************************
ISSUPERSET:  False
ISSUPERSET:  False
**************************************************
UPDATE:  {'Hulk', 'Captain America', 'Ironman', 'Spiderman', 'Thor'}
**************************************************
CLEAR:  set()

In [60]:
a = {"Ironman", "Hulk", "Thor", "Captain America"}
b = {"Superman", "Batman", "Wonder-Woman"}
c = {"Hulk", "Thor", "Spiderman"}
print(a)
print(b)
print(c)
print("*"*50)

# 11. Union
print("UNION: ", a.union(c))
print("*"*50)

#12. Difference
print("DIFFERENCE: ", a.difference(b))
print("DIFFERENCE: ", a.difference(c))
print("*"*50)

#13. Difference update
a.difference_update(c)
print("DIFFERENCE UPDATE: ", c)
print("*"*50)

{'Hulk', 'Captain America', 'Ironman', 'Thor'}
{'Superman', 'Batman', 'Wonder-Woman'}
{'Hulk', 'Spiderman', 'Thor'}
**************************************************
UNION:  {'Hulk', 'Captain America', 'Ironman', 'Spiderman', 'Thor'}
**************************************************
DIFFERENCE:  {'Hulk', 'Captain America', 'Ironman', 'Thor'}
DIFFERENCE:  {'Captain America', 'Ironman'}
**************************************************
DIFFERENCE UPDATE:  {'Hulk', 'Spiderman', 'Thor'}
**************************************************

In [3]:
a = {"Ironman", "Hulk", "Thor", "Captain America"}
b = {"Superman", "Batman", "Wonder-Woman"}
c = {"Hulk", "Thor", "Spiderman"}
print(a)
print(b)
print(c)
print("*"*50)

#14. Intersection
x = (a.intersection(c))
print("INTERSECTION: ", x)
print("*"*50)

#15. Intersection update
a.intersection_update(c)
print("INTERSECTION UPDATE: ", c)
print("*"*50)

#16. Symmetric Difference
x = a.symmetric_difference(c)
print("SYMMETRIC DIFFERENCE: ",x)
print("*"*50)

#17. Symmetric Difference Update
a.symmetric_difference_update(c)
print("SYMMETRIC DIFFERENCE UPDATE: ",a)

{'Ironman', 'Captain America', 'Hulk', 'Thor'}
{'Wonder-Woman', 'Superman', 'Batman'}
{'Thor', 'Spiderman', 'Hulk'}
**************************************************
INTERSECTION:  {'Thor', 'Hulk'}
**************************************************
INTERSECTION UPDATE:  {'Thor', 'Spiderman', 'Hulk'}
**************************************************
SYMMETRIC DIFFERENCE:  {'Spiderman'}
**************************************************
SYMMETRIC DIFFERENCE UPDATE:  {'Spiderman'}

#### Problem solving :-
1. Write a program to find max and min in a set.
2. Write a program to find common elements in three lists using sets.
3. Write a program to find difference between two sets.
4. Write a Python program to remove an item from a set if it is present in the set.
5. Write a Python program to check if a set is a subset of another set.

In [4]:
# 1. Write a program to find max and min in a set.
a = {12, 56, 34, 8, 90, 1, 57}
maximum = max(a)
minimum = min(a)
print("The minimum value in the set is",minimum)
print("The maximum value in the given set is",maximum)

The minimum value in the set is 1
The maximum value in the given set is 90

In [5]:
#2. Write a program to find common elements in three lists using sets.
a = [1, 5, 6, 8, 2]
b = [4, 5, 6, 7]
c = [1, 9, 6, 2, 5]

print(set(a) & set(b) & set(c))

{5, 6}

In [8]:
# 3. Write a program to find difference between two sets.
a = {1, 5, 6, 8, 2}
b = {1, 9, 6, 2, 5}

print(a.difference(b))
print(b.difference(a))

{8}
{9}

In [9]:
# 4. Write a Python program to remove an item from a set if it is present in the set.
a = {1, 5, 6, 8, 2}
a.discard(8)
print(a)

{1, 2, 5, 6}

In [10]:
# 5. Write a Python program to check if a set is a subset of another set.
a = {1, 5, 6, 8, 2}
b = {1, 9, 6, 2, 5}
print(b.issubset(a))

False

## Functions :-
Functions are a set of code, which once created, they can be used throughout the program.
Functions help break our program into smaller parts and helps it look more organized and manageable.

* Types :-
    1. Define the function
    2. Call the function

In [11]:
def hello():
    print("Hello World")
    
hello()

Hello World

In [12]:
def add():
    x = 15
    y = 20
    print(x+y)
    
add()

35

#### Parameters and Arguments :-
* Parameters :- Parameters are the variables written inside the parentheses with the name of function.
* Arguments :- Arguments are the values passed to the parameters while calling the function.

In [14]:
def add (x, y):
    print(x+y)
    
add(12,51)
add(50,25)

63
75

In [15]:
def rect(length, width):
    print("The area of the rectangle is: ", length*width)
    
rect(15, 15)

The area of the rectangle is:  225

In [19]:
def hello(*name):
    print("Hello, my name is: ", name[0])
    
hello("john","lisa","peter")

Hello, my name is:  john

#### Return Statement and Recursion in Functions

Return Statement :- Return keyword in python is used to exit a function and return the value of the function.

In [20]:
def hello():
    return("Hello World")

print(hello())

Hello World

Recursion in Python :- Recursion in most commonly used mathematical and programming concept. 
* In simple words, recursion means a function can call itself, giving us a benefit of looping through data in order to get a result.

In [21]:
def hello():
    return hello()

print(hello)

<function hello at 0x000001C1742951C0>

In [3]:
def fact(n):
    if n == 1:
        return 1
    else:
        return (n * fact (n - 1))

print(fact(5))

120

In [ ]:
# Code will run infinite time
def hello():
    print("hello")
    return hello()

print(hello())

#### Advantage and Disadvantage of Recursion :-
Advantage :-
1. They make the code look clean and organized.
2. By the use of recursive functions, a complex task can be broken down into small sub - parts.
3. Sequence generation becomes easier.

Disadvantage :-
1. Recursive Functions take up a lot of memory.
2. Sometimes the logic becomes hard to follow.

### Lambda Function in Python
* It is used when an anonymous function is required for a short period of time.
* It can take numerous arguments.
* It can only have one expression.

In [4]:
a = lambda b: b*5
print(a(4))

20

In [6]:
x = lambda a,b,c: (a+b)*c
print(x(3,7,3))

30

#### Local and Global Variables :-
Local Variables :-
* Local Variables are restricted to only one block of code and cannot be changed throughput the program.

Global Variable :-
* Global Variable are not restricted to one block of code and they can be changed throughout the program.

In [4]:
# Local Variable :-
x = 24
print("First variable x ", x)
def hello():
    x = 25
    return x

print(hello())

First variable x  24
25

In [6]:
# Global Variable :-
x = 24
print("First variable x ", x)
def hello():
    global x
    x = 25
    return x

print(hello())
print(x)

First variable x  24
25
25

### Problem Solving :-
1. Write a function to find maximum of three numbers in Python.
2. Write a Python function to create and print a list where the values are square of numbers between 1 and 30.
3. Write a Python function that takes a number as a parameter and check if the number is prime or not.
4. Write a Python function to sum all the numbers in a list.
5. Write a Python program to solve the Fibonacci sequencing Recursion.

In [8]:
# 1. Write a function to find maximum of three numbers in Python.
def max_number(val1, val2, val3):
    if val1 > val2 and val1 > val3:
        print(val1, "is the gratest number")
    elif val2 > val3 and val2 > val1:
        print(val2, "is the greatest number")
    else:
        print(val3, "is the greatest")
        
max_number(12, 25, 85)

85 is the greatest

In [11]:
# 2. Write a Python function using recursion to create and print a list where the values are square of numbers between 1 and 30.
def create_list():
    l = []
    for i in range(1, 31):
        l.append(i**2)
        
    return l

print(create_list())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [13]:
# 3. Write a Python function that takes a number as a parameter and check if the number is prime or not.
def check_prime(num):
    if num == 1:
        print("It is not a prime number")
    
    if num == 2:
        print("It is a prime number")
        
    if num > 2:
        for i in range(2,  num):
            if num % i == 0:
                print("It is not a prime number")
                break
        else:
            print("It is a prime number")
            
check_prime(11)
check_prime(30)

It is a prime number
It is not a prime number

In [23]:
# 4. Write a Python function to sum all the numbers in a list.
def add(num):
    total = 0
    for i in num:
        total = total + i
    return(total)

print("the sum of all the items in the list is", add([15, 52, 63, 25, 89]))

the sum of all the items in the list is 244

In [24]:
def add(num):
    if len(num)==1:
        return(num[0])
    else:
        return((num[0])+add(num[1:]))
        
print(add([15, 52, 63, 25, 89]))

244

In [25]:
# 5. Write a Python program to solve the Fibonacci sequencing Recursion.
def fs(num):
    if num == 1:
        return(0)
    elif num == 2:
        return(1)
    else:
        return(fs(num-1)+fs(num-2))
    
print(fs(7))

8

## Modules :-
* Modules are the (.py) files, that contains set of functions you want to include in your program

### In-built Modules :-
1. Datetime
2. Random
3. Math

#### 1. Datetime

In [1]:
import datetime

In [2]:
x = datetime.datetime.now()
print(x)

2024-01-27 16:42:01.881770

In [6]:
y = datetime.datetime(1999, 3, 13)
print(y)

1999-03-13 00:00:00

In [7]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%A"))

Saturday

In [9]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%a"))

Sat

In [8]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%B"))

March

In [10]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%m"))

03

In [11]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%Y"))

1999

In [12]:
y = datetime.datetime(1999, 3, 13)
print(y.strftime("%y"))

99

#### 2. Random Module

In [13]:
import random

In [16]:
x = random.randint(1, 10)
print(x)
# Output always changes

2

In [18]:
l = ["Heads", "Tails"]
x = random.choice(l)
print(x)

Tails

In [23]:
x = random.randint(1, 6)
print(x)

5

#### 3. Math

In [24]:
import math

In [25]:
x = max(13, 37, 45)
print(x)

45

In [26]:
y = min(25, 32, -55)
print(y)

-55

In [27]:
a = pow(2, 4)
print(a)

16

In [28]:
b = math.sqrt(49)
print(b)

7.0

In [29]:
z = abs(-12)
print(z)

12

In [31]:
k = math.ceil(2.4)
print(k)

3

In [32]:
m = math.floor(2.4)
print(m)

2

### Creation of Modules:-
* Creation of module, all you need to do is create a .py file in a similar path to your python file. Inside that file, you can add required functions you need your program to perform.
* To call the module inside your program, all you need to do is use import keyword followed by the name of your .py file.

This code will run on pycharm

In [5]:
def add(x, y):
    return(x+y)

In [ ]:
import demo01
a = demo01.add(2,3)
print(a)